.post-subtitle {
    padding-bottom: 0.5em;
    font-style: italic;
}
.back-link {
    display: block;
}
.post-container .post-header .back-link {
    margin-bottom: 1.0em;
}
.post-container .post-footer .back-link {
    margin: 1.0em 0;
}

@media (min-width: 961px) {
    .desktop-only {
        display: block !important;
    }
    .mobile-only {
        display: none !important;
    }
}
 
@media (max-width: 960px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}

.cover-navigation--primary.mobile-only {
    margin: 1em 0;
}


/*
* uno style overrides
*/

/* ---- section: header ----- */

.user-image {
    width: 150px;
    height: 150px;
    /*border: 2px solid white;*/
}

/* keeps the social icons centered */
.navigation--social {
    margin-left: 0;
}
.navigation .navigation__item:last-child {
    margin-right: 0;
}

/* ---- section: posts ----- */

.post-list__meta span,
.post-list__meta time {
    font-size: 0.9em;
}

/*
* Responsive styles
*/
@media all and (max-width: 960px) {
    .cover-navigation--primary .navigation .navigation__item {
        width: 30%;
    }
}