@media (min-width: 961px) {
    .desktop-only {
        display: block !important;
    }
    .mobile-only {
        display: none !important;
    }
}
 
@media (max-width: 960px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}

@media all and (max-width: 960px) {
    /* ensures the main navigation buttons stay the same width */
    .cover-navigation--primary .navigation .navigation__item {
        width: 30%;
    }
}

@media (max-width: 960px) {
    /* decrease the size of the social button icons */
    .cover-navigation.navigation--social .navigation .navigation__item {
        width: 20%;
    }

    /* enable scrolling on landing page header */
    .page-root .panel-cover {
        overflow-y: auto
    }

    /* needs a crazy z-index to display in front of the lightbox */
    .page-gallery .panel-cover {
        z-index: 3000;
    }
}