---
layout: default
pagetype: blog
---
<article class="post-container post-container--single">
  <header class="post-header">
    {% include back-link.html %}
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226;
      {% include taglist.html tags=page.tags %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
  </header>

  <section class="post">
    {{ content }}
  </section>
  <footer class="post-footer">
    {% include back-link.html %}
  </footer>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
