.contact_form .success_message{ 
	display: none;
}

.contact_form input,
.contact_form textarea {
    font-size: 0.9em;
    /*font-family: 'proxima-nova-soft', sans-serif;*/
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.9em;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 0.5em;
}

.contact_form textarea {
	height: 12em;
}

.contact_form button {
    padding: 10px 20px;
    border: none; 
    border-radius: 4px; 
    font-size: .9em; 
    font-weight: normal; 
    letter-spacing: normal; 
    text-shadow: none; 
    color: #666; 
}

.contact_form button:focus {
	outline: none;
}